/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background-color: #00cc99;
    color: #ffffff;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


p {
	margin-bottom: 1em;
}


h1 {
	line-height: 1.2;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	background: url('img/gs.png');
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), 
		url('img/gs.png');
}

body {
	font-family: montserrat, arial, verdana;
	height: 100%;
	width: 100%;	
}

hr {
	border-top: 1px solid #ddd;	
}

/*
#container {
	width: 768px;
	height: 1024px;	
}
*/

#main {
  margin-top: 30px;
  margin-left: auto; 
  margin-right: auto;
  position: relative;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 10px;
  box-sizing: border-box;
  width: 95%;
}

#header {
	background-color: #000;
	height: 75px;
	margin: 0px;
	padding: 0px;
	display: table;	
	width: 100%;
}


#logocontainer {
	display: table-cell;	
}

#title {
	color: #fff;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 27px;
	font-weight:400;
	padding-left: 50px;	
}

#logo {
	padding-left: 20px;
	alignment-adjust: central;	
}

#searchform {
	display: table-cell;	
}

#sllogocontainer {
	display: table-cell;	
	width: 121px;
}

#surveyheader {
	margin-left: 30px; 
	margin-right: 30px; 
	min-width: 80%;	
}

#barcontainer {
	margin-left: 30px; 
	margin-right: 30px; 
	min-width: 80%;	
}

.ui-widget-header {
	border: 1px solid #e78f08;
	background: #e50046 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
	color: #fff;
	font-weight: bold;	
}

/*form styles*/
#msform {
	min-width: 80%;
	min-height: 600px;
	margin-top: 20px;
	margin-left: 30px; 
	margin-right: 30px;
	margin-bottom: 20px;
	position: relative;
}
#msform fieldset {
	width: 100%;
	height: 100%;
	/*stacking fieldsets above each other*/
	position: absolute;
	top: 20px;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 10px 5px 10px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
	font-family: Arial;
	color: #2C3E50;
	font-size: 14px;
	margin-top: 8px;
}

#msform select {
	outline:none;
	background-color:transparent;
    border: 0px solid;
}

#msform li {
	
}	

/*form styles*/
#confirmForm {
	min-width: 80%;
	min-height: 600px;
	margin-top: 20px;
	margin-left: 30px; 
	margin-right: 30px;
	margin-bottom: 20px;
	position: relative;
}
#confirmForm fieldset {
	width: 100%;
	height: 100%;
	/*stacking fieldsets above each other*/
	position: absolute;
	top: 20px;
}
/*Hide all except first fieldset*/
#confirmForm fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#confirmForm input, #confirmForm textarea {
	padding: 10px 5px 10px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	font-family: Arial;
	color: #2C3E50;
	font-size: 14px;
	margin-top: 8px;
}

#confirmForm select {
	outline:none;
	background-color:transparent;
    border: 0px solid;
}

#confirmForm li {
	
}	

/*headings*/
.fs-title {
	font-size: 20px;
	font-style: italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:400;
	color: #0059be;
	margin-bottom: 10px;
	margin-top: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
	padding-top: 15px;
}

#confirmationPage {
	display: none;	
}

#msform .single-button   {
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:57px;
	width:200px;
	text-decoration: none;
	text-align: center;
	margin-right: 8px;
	vertical-align: top;
}
#msform .single-button:hover {
	background-color:#00cc99;
	color: #ffffff;
}

#msform .multiple-button   {
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:57px;
	width:200px;
	text-align: center;
	text-wrap:normal;
	margin-right: 8px;
	white-space: normal;
	vertical-align: top;
}
#msform .multiple-button:hover {
	background-color:#00cc99;
	color: #ffffff;
}

#msform .multiple-large-button   {
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:57px;
	width:550px;
	text-align: center;
	text-wrap:normal;
	margin-right: 8px;
	white-space: normal;
	vertical-align: top;
}
#msform .multiple-large-button:hover {
	background-color:#00cc99;
	color: #ffffff;
}


#q8detailscontainer {
	display: '';
}


#msform input.next.action-button {
	position: absolute;
	bottom: 40px;
	right: 40px;
}

#msform input.reset.reset-button {
	position: absolute;
	bottom: 40px;
	right: 260px;
}

#msform input.previous.action-button {
	position: absolute;
	bottom: 40px;
	right: 150px;
}

#msform .action-button  {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #616161) );
	background:-moz-linear-gradient( center top, #616161 5%, #616161 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#616161');
	background-color:#616161;
	border:1px solid #616161;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #616161;
	margin: 3px;
}
#msform .action-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #616161) );
	background:-moz-linear-gradient( center top, #616161 5%, #616161 5% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#616161');
	background-color:#e50046;
}

#msform .reset-button  {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #616161) );
	background:-moz-linear-gradient( center top, #616161 5%, #616161 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#616161');
	background-color:#616161;
	border:1px solid #616161;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #616161;
	margin: 3px;
}
#msform .reset-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #616161) );
	background:-moz-linear-gradient( center top, #616161 5%, #616161 5% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#616161');
	background-color:#e50046;
}

#msform input.submit.action-button {
	position: absolute;
	bottom: 40px;
	right: 40px;
	color: #fff;
	background-color: #e50046;
}

#confirmationPage {
	min-width: 80%;
	min-height: 600px;
	margin-top: 20px;
	margin-left: 30px; 
	margin-right: 30px;
	margin-bottom: 20px;
	position: relative;
}

#confirmForm {
	min-width: 80%;
	min-height: 600px;
	margin-left: 30px; 
	margin-right: 30px;
	margin-bottom: 20px;
	position: relative;
}
#confirmForm fieldset {
	width: 100%;
	height: 100%;
	/*stacking fieldsets above each other*/
	position: absolute;
	top: 20px;
}

#confirmForm .action-button  {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #616161) );
	background:-moz-linear-gradient( center top, #616161 5%, #616161 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#616161');
	background-color:#616161;
	border:1px solid #616161;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #616161;
	margin: 3px;
}
#confirmForm .action-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #616161) );
	background:-moz-linear-gradient( center top, #616161 5%, #616161 5% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#616161');
	background-color:#e50046;
}

#confirmForm input.submit.action-button {
	position: absolute;
	bottom: 40px;
	right: 40px;
	color: #fff;
	background-color: #e50046;
}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
